<!DOCTYPE html>
<html ng-app='myapp'>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", controller_name %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="contain-to-grid sticky">
      <nav class="top-bar" data-topbar data-options="sticky_on: large">
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">Test it</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>
      </nav>
    </div>

    <div class="row">
      <div class="small-4 columns">
        <ul class="side-nav" ng-controller="NavCtrl">
          <li>
            <div class="row">            
              <div class="large-9 columns">
                <input type="text" ng-model="topicFilter" placeholder="Search Topics...">
              </div>
              <div class="small-3 columns">
                <a class="button tiny" data-reveal-id="myModal">+</a>

                <div id="myModal" class="reveal-modal" data-reveal>
                  <h2>Add Topic</h2>
                  <form>
                    <input type="text" placeholder="Topic name" ng-model="formData.name">
                    <textarea placeholder="Description" ng-model="formData.description"></textarea>

                    <input ng-click="createTopic(formData)" class="button" value="Submit">
                  </form>

                  <pre>
                    {{ formData }}
                  </pre>
                </div>
              </div>
            </div>
            <hr/>
          </li>
          <li ng-repeat="topic in topics | filter:topicFilter" ng-class="{highlight: $index == selectedIndex}">
            <div class="row">
              <div class="small-9 columns">
                <a ng-click="viewTopic(topic.sid, $index)">
                  <h4>{{topic.name}}</h4>
                </a>
                <h4><small>{{topic.description}}</small></h4>
              </div>
              <div class="small-3 columns">
                <a class="button tiny alert" ng-click="delTopic(topic.sid, $index)">-</a>
              </div>
            </div>
            <hr/>
          </li>
        </ul>
      </div>

      <div class="small-8 columns">
        <%= yield %>
      </div>
    </div>

  </body>
</html>