<!DOCTYPE html>
<html ng-app='myapp'>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>SynapsIt</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <!--%= javascript_include_tag "application", controller_name %-->
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="sticky">
      <nav class="top-bar" data-topbar data-options="sticky_on: large">
        <ul class="title-area">
          <li class="name">
            <h1><a href="/#/">SynapsIt</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a>Menu</a></li>
        </ul>
        
        <section class="top-bar-section">
          <ul class="left">
            <% if user_signed_in? %>
              <li><a href="/#/folders">Folders</a></li>
              <li><a href="/#/topics">Topics</a></li>
              <li><a href="/#/posts">Posts</a></li>
              <li class="divider"></li>
              <li><a href="/#/shares">Shares</a></li>
            <% end %>
          </ul>
          <ul class="right">
            <li class="divider"></li>
            <%= render 'shared/login' %>
          </ul>
        </section>
      </nav>
    </div>
    
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div data-alert class="alert-box">
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <a class="close">&times;</a>
        </div>
      <% end %>
    <% end %>

    <div class="row">
      <div class="small-12 columns">
        <%= yield %>
        <%= javascript_include_tag "application" %>
      </div>
    </div>

    <div id="footer">
      Copyright &reg; 2014 by Steffen Loerch
    </div> 

  </body>
</html>