<!DOCTYPE html>
<html ng-app='myapp'>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", controller_name %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="contain-to-grid sticky">
      <nav class="top-bar" data-topbar data-options="sticky_on: large">
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">SynapsIt</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a>Menu</a></li>
        </ul>
        
        <section class="top-bar-section">
          <ul class="left">
            <li><a href="/#/topics">Topics</a></li>
          </ul>
        </section>
      </nav>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <%= yield %>
      </div>
    </div>

  </body>
</html>